<div class="eaExpandableRowTable-wCustomRowContent">
    <ul class="ebList ebList_striped eaExpandableRowTable-wCustomRowContent-list">
        {{#each data}}
            <li class="ebList-item eaExpandableRowTable-wCustomRowContent-listItem">
                <span class="eaExpandableRowTable-wCustomRowContent-label">{{label}}:</span>
                <span class="eaExpandableRowTable-wCustomRowContent-value">{{value}}</span>
            </li>
        {{/each}}
    </ul>
</div>
